@import "tailwindcss";

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --button-bg: #f0f0f0;
    --button-text: #000000;
}

.dark-theme {
    --bg-color: #1e1e1e;
    --text-color: #f0f0f0;
    --button-bg: #333333;
    --button-text: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.custom-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.theme-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: background-color 0.2s, transform 0.1s;
}

.theme-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.theme-btn:active {
    transform: scale(0.9);
}

/* Dark hover */
.dark-theme .theme-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


